:root {
  --bg-color: hsl(203, 8%, 20%);
  --fg-color: hsl(180, 2%, 90%);
  --fg-color-dimmed: hsl(206, 3%, 44%);
  --acc-color: hsl(353, 62%, 83%);
  --acc-color-dimmed: hsl(353, 12%, 49%);
  --a-color: hsl(218, 57%, 58%);
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

a {
  color: var(--a-color);
  text-decoration: none;
}

li.ingridient {
  list-style-type: none;
  margin: .2em .2em 0.2em 0.2em;
}

.recipesList > li {
  list-style-type: none;
  margin: 1em 0.2em 0.2em 0.2em;
}

li.note {
  /* list-style-type: none; */
  list-style-type: lao;
  margin: 0em .2em 0.2em 0.2em;
}

.app {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 100%;
  margin: auto;
  padding: 1em 1em 1em 1em;
}

.button {
  /* border-style: dashed; */
  border-radius: 0.3em;
  padding: 0 0.3em 0 0.3em;
  text-align: center;
}

.recipesList {
  font-size: large;
}

.details {
}

input {
  width: 100%;
}

hr {
  border-color: var(--acc-color-dimmed);
  margin: 0;
}

textarea {
  width: 100%;
  min-height: 5em;
  height: 30vh;
}

.editable {
  background: inherit;
  color: var(--fg-color);
  border-style: none;
  border-radius: 4px;
  border-color: var(--bg-color);
  border-style: dashed;
}

.editable:hover {
  border-color: var(--fg-color-dimmed);
  border-style: dashed;
}

.titleRow {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--acc-color);
  font-size: larger;
  font-weight: 900;
}

.title {
  width: 100%;
  color: var(--acc-color);
  font-size: larger;
  font-weight: 900;
}

.url {
  color: var(--a-color);
}

.tempAndTime {
  display: grid;
  grid-template-columns: 7em 3em;
  grid-template-rows: auto;
}

.header {
  font-size: large;
  margin: 1.5em 1em 0.8em 0.2em;
  font-weight: bold;
}

.description {
  margin: 0;
  padding: 0em 1em 0em 1.2em;
}

.ingridient {
  margin: 0;
  padding: 0em 1em 0em 1.2em;
  display: flex;
  /* justify-content: center; */
  /* TODO maybe this can be a grid?
   * and instead of having whole text as one in reading mode, use the same grid and separate elements?*/
}

.dimmed {
  color: var(--fg-color-dimmed);
}

