:root {
  --bg-color: hsl(203, 8%, 20%);
  --fg-color: hsl(180, 2%, 90%);
  --fg-color-dimmed: hsl(206, 3%, 44%);
  --acc-color: hsl(353, 62%, 83%);
  --acc-color-dimmed: hsl(353, 12%, 49%);
  --a-color: hsl(218, 57%, 58%);
  --lighter-bg-color: hsl(203, 6%, 26%);
  --light-color: hsl(206, 3%, 44%);

  --border-width: 2px;
}

body {
  margin: 0;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

a {
  color: var(--a-color);
  text-decoration: none;
  max-width: 20ch;
  text-overflow: ellipsis;
  max-width: 10em;
  overflow: hidden;
}

li.ingridient {
  list-style-type: none;
  margin: .2em .2em 0.2em 0.2em;
}

.recipesList > li {
  list-style-type: none;
  margin: 1em 0.2em 0.2em 0.2em;
}

li.note {
  /* list-style-type: none; */
  list-style-type: lao;
  margin: 0em .2em 0.2em 0.2em;
}

.app {
  width: 75%;
  margin: 2rem auto auto auto;
}

.button {
  /* border-style: dashed; */
  border-radius: 2px;
  padding: 0 0.3em 0 0.3em;
  text-align: center;
}

.recipesList {
  font-size: large;
}

.details {
}

input {
  width: 100%;
}

hr {
  border-color: var(--acc-color-dimmed);
  margin: 0em 0em 1em 0em;
  /* max-width: 10em; */
}

textarea {
  width: 100%;
  min-height: 5em;
  height: 30vh;
}

.editable {
  background: inherit;
  color: var(--fg-color);
  border-style: none;
  border-radius: 2px;
  border-color: var(--bg-color);
  border-style: dashed;
}

.ingridientsSection .editable {
  border-color: var(--lighter-bg-color);
}

.editable:hover {
  border-color: var(--fg-color-dimmed);
  border-style: dashed;
}

.titleRow {
  grid-template-columns: 3% 94% 3%;
  display: grid;
  align-items: center;
  color: var(--acc-color);
  font-size: larger;
  font-weight: 900;
}

.title {
  width: 100%;
  color: var(--acc-color);
  font-size: larger;
  font-weight: 900;
}

.url {
  color: var(--a-color);
  text-overflow: ellipsis;
  max-width: 10em;
  overflow: hidden;
}

.tempAndTime {
  display: grid;
  grid-template-columns: 7em calc(100% - 7em - 2 * var(--border-width));
  grid-template-rows: auto;
}

.header {
  font-size: larger;
  margin: 1.5rem 1em 0.2rem 0em;
  font-weight: bold;
}

.description {
  margin: 0;
  padding-left: 1.2em;
}

.ingridientsSections {
  display: flex;
  flex-wrap: wrap;
}

.ingridientsSections > * {
  flex-grow: 1;
  flex-shrink: 1;
  min-width: 550px;
  /* flex-basis: 33%; */
  flex-basis: 10rem;
  border-width: 2px;
  border-radius: 2px;
  border-style: solid;
}

.ingridientsSection {
  background-color: var(--lighter-bg-color);
  border-color: var(--bg-color);
  margin: 2px;
}

.ingridientsSectionPlaceholder {
  color: var(--light-color);
  border-color: var(--light-color);
  border-style: dashed;
  margin: 4px;
  min-height: 1em;
  justify-content: center;
  align-items: center;
  font-size: 3em;
}

.sectionTitle {
  display: grid;
  grid-template-columns: 94% 4%;
  margin: 0.4em 0em 1em 1em;
  font-weight: bold;
}

.ingridientsList {
  padding: 0;
}

.ingridient {
  /* margin: 2px; */
  padding: 0em 1em 0em 1.2em;
  display: grid;
}

.ingridient.on {
  grid-template-columns: 10% 14% 73% 3%;
}

.ingridient.off {
  grid-template-columns: 8% 14% 78%;
}

.dimmed {
  color: var(--fg-color-dimmed);
}

