body {
  margin: 0;
  background-color: #30343B;
  color: #E9EAED;
}

a {
  color: #5784D1;
  text-decoration: none;
}

li {
  list-style-type: none;
}


.app {
  text-align: left;
  display: flex;
  flex-direction: column;
  width: 60%;
  min-height: 100%;
  margin: auto;
  padding: 1em 1em 1em 1em;
}

.recipesList {
  font-size: large;
}

.recipesList li {
  margin: .2em .2em 0.2em 0.2em;
}

.details {
}

.title {
  color: #F7CAD2;
  font-size: larger;
  font-weight: 900;
}

.header {
  font-size: large;
  margin: 1.5em 1em 0.8em 0.2em;
  font-weight: bold;
}

.description {
  margin: 0;
  padding: 0em 1em 0em 1.2em;
}

.ingridient {
  margin: 0;
  padding: 0em 1em 0em 1.2em;
}


